@import url('https://fonts.googleapis.com/css?family=Pacifico');

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  background-attachment: fixed;
  background-image: url('../../tools/bckgrnd_50.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

links,a {
  color: #C0C000;
  transition: color .35s;
}

links:hover, links:focus,a:hover, a:focus {
  color: #C04040;
}

h1, h2, h3 {
  color: white;
}
h1{
  font-size: 4vw;
}
h2{
  font-size: 2.5vw;
}
h3{
  font-size: 2vw;
}
p {
  color: white;
  text-shadow: 0 0 10px #000;
  font-size: 1vw;
}
.navbar-default {
    background-color: #F8F8F860;
}
.navbar-default:hover {
    background-color: #F8F8F860;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}
.navbar-toggler {
  color: white;
}
.active {
  border-color: white;
  border-style: solid;
  border-width: thin;
}

#profilePic {
  max-width: 275px;
  border-radius: 50%;
}
.js-scroll-trigger {
  color: white;
}

.about-welcome {
  height: 100vh;
  margin-top: 0%;
  text-align: center;
  padding: 10%;
}

.wellcome-text {
  font-family: Pasifico;
  background-color: rgba(0,0,0,.8);
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 50px;
  margin: 0 13%;
  display: flex;
  flex-flow: column;
}

.intro-text p {
  color: white;
  text-shadow: 0 0 10px #000;
  font-size: 1.4vw;
}

.intro-text {
  background-color: rgba(0,0,0,.95);
  border-radius: 50px;
  padding: 0 10%;
  padding-top: 20px;
  padding-bottom: 20px;

}
.sectionSkills {
  height: 100vh;
}

.skills-wrapper {
  margin: 0 15%;
  text-align: center;
  background-color: rgba(0,0,0,.8);
  border-radius: 50px;
  justify-content: center;
  padding: 20px;
  padding-top: 40px;
}
.skills-wrapper img{
  width: 60%;
}

.skill-description {
  text-align: center;
}
.projects{
  margin: 0 3%;
  display: flex;
  flex-flow: column;
}

.project_mylists{
  background-color: rgba(0,0,0,.95);
  margin: 0 10%;
  text-align: center;
  padding: 20px;
  border-radius: 50px;
}

.project-skills img {
  width: 50%;
  text-align: center;
}
.project-image img {
  border-radius: 10px;
  width: 100%;
}

.project-description{
  text-align: center;
}
.end-page{
  background-color: rgba(0,0,0,.45);
  height: 40vh;
  margin: 10% 10%;
  border-radius: 50px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.profilePicWrapper {
  display: inline-block;
  text-align: center;
  max-width: 375px;
  padding: 20px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.8);

}

.btn-default {
  font-family: Raleway-SemiBold;
  font-size: 1.5vw;
  color: rgba(255, 255, 255, 0.75);
  letter-spacing: 1px;
  line-height: 45px;
  border: 2px solid rgba(108, 89, 179, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-default:hover {
  color: #FFF;
  background: rgba(158, 108, 179, 0.75);
  border: 2px solid rgba(108, 89, 179, 0.75);
}
.contact-items {
  width: 120px;
  margin: 20px;
  height: auto;
}

.contact-items:hover {
  animation-duration: 1.7s;
  animation-iteration-count: infinite;
  animation-name: bounceIcon;
  animation-timing-function: cubic-bezier(.3, .85, .4, 1);
}
@keyframes bounceIcon {
  0%   { transform: scale(1, 1)      translateY(0); }
  10%  { transform: scale(1.1, .9)   translateY(0); }
  30%  { transform: scale(.9, 1.1)   translateY(-50px); }
  50%  { transform: scale(1.05, .95) translateY(0); }
  57%  { transform: scale(1, 1)      translateY(-7px); }
  64%  { transform: scale(1, 1)      translateY(0); }
  100% { transform: scale(1, 1)      translateY(0); }
}
@media screen and (max-width: 1200px ) {
  h2 {
    font-size: 3.5vw;
  }
  .intro-text p {
    font-size: 2vw;
  }
  .skills-wrapper p {
    font-size: 2vw;
  }
  .projects p {
    font-size: 2vw;
  }
  .btn-default{
    font-size: 2vw;
  }
}


@media screen and (max-width: 800px ) {
  #profilePic {
    max-width: 225px;
    border-radius: 50%;
  }
  .intro-text p {
  color: white;
  text-shadow: 0 0 10px #000;
  font-size: 3vw;
  }
}

@media screen and (max-width: 600px ) {
  .intro-text p {
  color: white;
  text-shadow: 0 0 10px #000;
  font-size: 3vw;
  }
  #profilePic {
    max-width: 175px;
    border-radius: 50%;
  }
  .intro-text p {
    font-size: 4vw;
  }
  .skills-wrapper p {
    font-size: 3vw;
  }
  .projects p {
    font-size: 4vw;
  }
  .btn-default{
    font-size: 5vw;
  }
  .projects h2 {
    font-size: 5vw;
  }
}

@media screen and (max-width: 576px) {
  .projects .project-skills{
    display: none
  }
  .contact-items {
    width: 60px;
    height: auto;
  }

}

/* Typewriter */
#typewriter-section {
    position: relative;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 20px;
}

#typewriter-section h1 {
  margin: 0;
}

.typewriter {
  font-size: 40px;
  position: relative;
}

.typewriter::after {
  content:'|';
  display: block;
  color: #fff;
  animation: write 18s linear infinite;
  animation-fill-mode: forwards;
}

@keyframes write {
  1% {
    content:'S|';
  }
  2% {
    content:'So|';
  }
  3% {
    content:'Sof|';
  }
  4% {
    content:'Soft|';
  }
  5% {
    content:'Softw|';
  }
  6% {
    content:'Softwa|';
  }
  7% {
    content:'Softwar|';
  }
  8% {
    content:'Software|';
  }

  14% {
    content:'Software |';
  }
  14.5% {
    content:'Software E|';
  }
  15% {
    content:'Software En|';
  }
  15.5% {
    content:'Software Eng|';
  }
  16% {
    content:'Software Engi|';
  }
  16.5% {
    content:'Software Engin|';
  }
  17% {
    content:'Software Engine|';
  }
  17.5% {
    content:'Software Enginee|';
  }
  18% {
    content:'Software Engineer|';
  }
  40% {
    content:'Software Enginee|';
  }
  41% {
    content:'Software Engine|';
  }
  42% {
    content:'Software Engin|';
  }
  43% {
    content:'Software Engi|';
  }
  44% {
    content:'Software Eng|';
  }
  46% {
    content:'Software En|';
  }
  48% {
    content:'Software E|';
  }
  50% {
    content:'Software|';
  }
  51% {
    content:'Softwar|';
  }
  52% {
    content:'Softwa|';
  }
  53% {
    content:'Softw|';
  }
  54% {
    content:'Soft|';
  }
  55% {
    content:'Sof|';
  }
  56% {
    content:'So|';
  }
  57% {
    content:'S|';
  }
  58% {
    content:'|';
  }
  59% {
    content:'F|';
  }
  60% {
    content:'Fu|';
  }
  61% {
    content:'Ful|';
  }
  62% {
    content:'Full |';
  }
  63% {
    content:'Full S|';
  }
  64% {
    content:'Full St|';
  }
  65% {
    content:'Full Sta|';
  }
  66% {
    content:'Full Stac|';
  }
  67% {
    content:'Full Stack|';
  }
  68% {
    content:'Full Stack W|';
  }
  69% {
    content:'Full Stack We|';
  }
  70% {
    content:'Full Stack Web|';
  }
  71% {
    content:'Full Stack Web D|';
  }
  72% {
    content:'Full Stack Web De|';
  }
  73% {
    content:'Full Stack Web De|';
  }
  74% {
    content:'Full Stack Web Dev|';
    opacity: 1;
  }
  74.5% {
    content:'Full Stack Web Deve|';
    opacity: 1;
  }
  75% {
    content:'Full Stack Web Devel|';
    opacity: 1;
  }
  75.5% {
    content:'Full Stack Web Develo|';
    opacity: 1;
  }
  76% {
    content:'Full Stack Web Develop|';
    opacity: 1;
  }
  76.5% {
    content:'Full Stack Web Develope|';
    opacity: 1;
  }
  77% {
    content:'Full Stack Web Developer|';
    opacity: 1;
  }
  100% {
    content:'Full Stack Web Developer.';
    opacity: 0.5;
  }
}
