a {
  color: #bc0080;
  transition: color .35s;
}

a:hover, a:focus {
  color: #89005d;
}

body {
  background-attachment: fixed;
  background-image: url('../../tools/bckgrnd.jpg');
  background-size: cover;
}
.page-container-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: url(../../tools/cloud.png);
  background-size:cover;
  animation: animate 60s linear infinite;

}

@keyframes animate {
  0%{
    background-position: 0px;
  }
  100%{
    background-position: 5440px;
  }
}

.profilePicWrapper {
  display: inline-block;
  text-align: center;
  max-width: 375px;
  padding: 30px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.8);

}

#profilePic {
  max-width: 275px;
  border-radius: 50%;
}

h1, h2, h3 {
  color: white;
}

h3 {
  font-size:3em;
  font-weight: 900;
}

.about-welcome {

  height: 100vh;
  margin-top: 20%;
  text-align: center;
}

.wellcome-text {
  background-color: rgba(0,0,0,.8);
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 50px;
}

p {
  color: white;
  text-shadow: 0 0 10px #000;
}

.intro-text {
  background-color: rgba(0,0,0,.8);
  border-radius: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

img {
  width: 100%;
}

.skills-wrapper {
  text-align: center;
  background-color: rgba(0,0,0,.8);
  border-radius: 50px;
  justify-content: center;
  padding: 20px;
  padding-top: 40px;
}
.skills-wrapper img{
  width: 60%;
}

.skill-description {
  text-align: center;
}

.project_mylists{
  background-color: rgba(0,0,0,.7);
  padding: 20px;
}

.projects img {
  width: 70%;
  text-align: center;
  padding: 10px;
}

.project-description{
  text-align: center;
}
.end-page{
  background-color: rgba(0,0,0,.7);
  height: 50vh;
  /* width: 100%; */
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}


@media (min-width: 578px) {
  p {
    font-size: 1.2em;
  }
}

@media (min-width: 768px) {
  p {
    font-size: 1.8em;
  }
}
