html {
  scroll-behavior: smooth;
}

body {
  background-attachment: fixed;
  background-image: url('../../tools/bckgrnd.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

links {
  color: #bc0080;
  transition: color .35s;
}

links:hover, links:focus {
  color: #89005d;
}

h1, h2, h3 {
  color: white;
}
h1{
  font-size: 6vw;
}
h2{
  font-size: 3vw;
}
h3{
  font-size: 3vw;
}
.navbar-default {
    background-color: #F8F8F800;
}
.navbar-default:hover {
    background-color: #F8F8F830;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}


#profilePic {
  max-width: 275px;
  border-radius: 50%;
}
.page-container-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: url(../../tools/cloud20.png);
  background-size:cover;
  animation: animate 20s linear infinite;

}

@keyframes animate {
  0%{
    background-position: 0px;
  }
  100%{
    background-position: 1088px;
  }
}
.intro-text {
  background-color: rgba(0,0,0,.8);
  border-radius: 50px;
  padding: 0 10%;
  padding-top: 20px;
  padding-bottom: 20px;

}

img {
  width: 100%;
}

.skills-wrapper {
  margin: 0 15%;
  text-align: center;
  background-color: rgba(0,0,0,.8);
  border-radius: 50px;
  justify-content: center;
  padding: 20px;
  padding-top: 40px;
}
.skills-wrapper img{
  width: 60%;
}


.skill-description {
  text-align: center;
}
.projects{
  margin: 0 3%;
  display: flex;
  flex-flow: column;
}

.project_mylists{
  background-color: rgba(0,0,0,.7);
  padding: 20px;
  border-radius: 50px;
}

.projects img {
  width: 70%;
  text-align: center;
  padding: 5%;
}

.project-description{
  text-align: center;
}
.end-page{
  background-color: rgba(0,0,0,.7);
  height: 50vh;
  border-radius: 50px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.profilePicWrapper {
  display: inline-block;
  text-align: center;
  max-width: 375px;
  padding: 20px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.8);

}

.btn-default {
  font-family: Raleway-SemiBold;
  font-size: 1vw;
  color: rgba(255, 255, 255, 0.75);
  letter-spacing: 1px;
  line-height: 45px;
  border: 2px solid rgba(108, 89, 179, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-default:hover {
  color: #FFF;
  background: rgba(158, 108, 179, 0.75);
  border: 2px solid rgba(108, 89, 179, 0.75);
}

.about-welcome {

  height: 100vh;
  margin-top: 0%;
  text-align: center;
  padding: 10%;
}

.wellcome-text {
  background-color: rgba(0,0,0,.8);
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 50px;
  margin: 0 13%;
  display: flex;
  flex-flow: column;
}

p {
  color: white;
  text-shadow: 0 0 10px #000;
  font-size: 2vw;
}
.intro-text p {
  color: white;
  text-shadow: 0 0 10px #000;
  font-size: 2vw;
}

.contact-items:hover {
  animation-duration: 1.7s;
  animation-iteration-count: infinite;
  animation-name: bounceIcon;
  animation-timing-function: cubic-bezier(.3, .85, .4, 1);
}
@keyframes bounceIcon {
  0%   { transform: scale(1, 1)      translateY(0); }
  10%  { transform: scale(1.1, .9)   translateY(0); }
  30%  { transform: scale(.9, 1.1)   translateY(-50px); }
  50%  { transform: scale(1.05, .95) translateY(0); }
  57%  { transform: scale(1, 1)      translateY(-7px); }
  64%  { transform: scale(1, 1)      translateY(0); }
  100% { transform: scale(1, 1)      translateY(0); }
}

@media screen and (max-width: 800px ) {
  #profilePic {
    max-width: 225px;
    border-radius: 50%;
  }
}


@media screen and (max-width: 600px ) {
  .intro-text p {
  color: white;
  text-shadow: 0 0 10px #000;
  font-size: 3vw;
  }
  #profilePic {
    max-width: 175px;
    border-radius: 50%;
  }
}

@media screen and (max-width: 576px) {
  .projects img{
    display: none
  }
}
