/* @import '~bootstrap/scss/bootstrap'; */

// body {
// }
/* gradient fallbacks taken from csstricks.com */

a {
  color: #bc0080;
  -webkit-transition: all .35s;
  transition: all .35s;
}

a:hover, a:focus {
  color: #89005d;
}

ABOUT ME
SKILLS
PROJECTS
CONTACT
Hi! This is Selcuk!

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  // -webkit-transition: all .35s;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand {
  color: #bc0080;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
  color: #89005d;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #222222;
}

#mainNav .navbar-nav > li > a {
  font-size: 11px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

#mainNav .navbar-nav > li > a.active {
  color: #bc0080 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #222222;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #bc0080;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: fade(white, 70%);
  }
  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: white;
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: white;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color: white;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
    color: #bc0080;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: #bc0080;
  }
}
// navbar

body {
    background-image: url('https://i.imgur.com/sdb008T.jpg');
    // background-color: #00000080;
    background-size: cover;
    // opacity: 0.2;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
  // background-color: red;
  //
  // /* SVG fallback for IE 9 (could be data URI, or could use filter) */
  // background-image: url(fallback-gradient.svg);
  //
  // /* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
  // background-image: -webkit-gradient(linear, left top, right top, from(red), to(#f06d06));
  //
  // /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  // background-image: -webkit-linear-gradient(left, red, #f06d06);
  //
  // /* Firefox 3.6 - 15 */
  // background-image: -moz-linear-gradient(left, red, #f06d06);
  //
  // /* Opera 11.1 - 12 */
  // background-image: -o-linear-gradient(left, red, #f06d06);
  //
  // /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  // background-image: linear-gradient(to right, red, #f06d06);
  // margin: 0px;
  // overflow: hidden;
}

h1{
  color: white;
}
h2{
  color: white;
}
h3 {
  color: white;
  font-size:3em;
}

p{
  // font-size: 5em;
  // font-weight: lighter;
  // color: white;
}

.about-welcome {
    // background-color: #00000080;
  height: 100%;
  display: block;
  margin-top: 20%;
  text-align: center;
  .wellcome-text {
      background-color: #00000080;
  }
}
.about-intro  {
  // background-color: #00000080;
  height: 100%;
  display: block;
  text-align: center;
  .intro-text {
      background-color: #00000080;
  }
  p{
    color: white;
    font-size: 2em;
    text-shadow: 0 0 10px #000;
  }

}
.skills-wrapper{
  height: 100%;
  display: flex;
  flex-wrap:wrap;
  background-color: #00000080;
  padding: 20px;
  margin-left: 100px;
  margin-right: 100px;
}


.img {
  position: relative;
  float: left;
  // padding: 10px;

  // object-fit:fill;/
  max-height: 100%;
  // background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}

.skills-wrapper img {
  height: 64px;
  width: 64px;
  // margin-left: 30%;
  // margin-right: 30%;
}

@media (min-width: 768px) {
  .skills-wrapper img {
    height: 128px;
    width: 128px;
  }
  p {
    color: white;
    text-align: center;
    font-size: 2em;
  }
}

@media (min-width: 768px) {
.skills-wrapper h2 {
    font-size: 70px;

  }
.skill-description{
  font-size: 1em;
  color:white;
}
}

.project_mylists{
  display: flex;

  background-color: #00000070;
  background-size: contain;
  text-align: center;
  .project-description{
    align-items:center;
    justify-content:center;


  }
}
